@import url("https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap");

@media screen and (max-width: 600px) {
  .mynavbar {
    display: auto;
  }
  
  .grid-images {
    max-width: 20%;
  }
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.logo h3 {
  color: #e74c3c;
  font-family: "Bangers", serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.3;
}
.logo h3 span {
  background: #e74c3c;
  color: #fff;
  display: inline-block;
  line-height: 1.8;
  padding: 0 16px;
  border-radius: 10px;
  box-shadow: 2px 3px 3px rgb(89, 89, 92);
}
.logo-holder {
  text-align: center;
  margin: 0;
}

.content {
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}
#navbar {
  overflow: hidden;
  background-color: rgb(35, 37, 43);
  height: 70px;
}
#navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px;
  margin: 10px;
  text-decoration: none;
}
.logo-holder {
  float: left;
}

.sign-up-nav:hover {
  background: transparent;
  background-color: rgb(93, 91, 91);
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

.hover-header:hover {
  background: transparent;
  background-color: rgb(42, 42, 42);
  border-radius: 10px;
  transition: all 150ms ease-in-out;
}

.head-text {
  height: 475px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.head-text span {
  color: #000;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 400;
  margin-top: -32px;
}
.head-text button {
  background-color: transparent;
  border: 3px solid #afb1b4;
  border-radius: 6px;
  font-size: 30px;
  padding: 6px 48px;
  cursor: pointer;
  margin-top: 88px;
  color: #e4e4e4;
}
.head-text button:hover {
  color: #fff;
  border: 3px solid #fff;
}

.footer-container-1 {
  background-color: rgb(35, 37, 43);
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 auto;
  justify-content: center;
  padding: 60px 10px;
}
.footer-container-2 {
  background-color: rgb(32, 33, 37);
  width: 100%;
  color: #fdfbfb;
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 300;
  margin: 0;
}

.footer-text-2 {
  text-align: center;
  margin: 0 auto;
  display: flex;
  font-size: 10px;
  font-family: "Sawarabi Gothic", sans-serif;
  justify-content: center;
}

.github-link {
  text-decoration: none;
  color: #e74c3c;
}
.github-link:hover {
  text-decoration: white dashed;
  transition: all 150ms ease-in-out;
  color: rgb(190, 188, 188);
  opacity: 1;
}

.fa {
  padding: 5px 10px;
  color: white;
  font-weight: 700;
}
.footer-container-0 {
  background-color: rgb(35, 37, 43);
  display: flex;
  flex-direction: row;
}
.footer-contact-icon h4 {
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fdfbfb;
}

.grid-images {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  justify-items: center;
  grid-auto-rows: auto;
}
.circle-img {
  width: 120px;
  height: 120px;
  border-radius: 55px;
  border: 5px solid rgb(35, 37, 43);
  transition: all 150ms ease-in-out;
}

.circle-img:hover {
  transform: scale(1.2);
  border: 5px solid #e74c3c;
}
.container-head {
  padding: 30px 30px;
}
.header-text {
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 10px 10px;
  text-transform: uppercase;
}
.subheader-text {
  font-family: "Sawarabi Gothic", sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 10px 10px;
}
.buffer {
  padding: 30px;
  margin-top: 10px;
}
.news-container {
  background: black;
  font-family: "Sawarabi Gothic", sans-serif;
  text-align: center;
  color: #fdfbfb;
  height: 350px;
}
.news-container h1 {
  margin: 10px 10px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 80px;
  font-weight: 600;
  font-size: calc(1.375rem + 1.5vw);
}

.news-container h2 {
  color: #e74c3c;
  font-size: 20px;
}

.contact-footer {
  display: inline-block;
  font-family: "Sawarabi Gothic", sans-serif;
  padding: 20px 20px;
  margin: 0 auto;
}
.contact-footer h2 {
  text-transform: uppercase;
  color: #e74c3c;
}

.contact-footer h2:hover {
  text-decoration: underline solid white;
  cursor: pointer;
}
.contact-footer p {
  color: #fdfbfb;
}
.contact-footer a {
  text-decoration: none;
}

.contact-footer a:hover {
  text-decoration: underline solid white;
}
.columns {
  display: flex;
}

.column {
  background: #ebedee;
  border: 6px solid #6f6f6f;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 10px;
}

.main-column {
  flex: 2;
}

.article {
  background: #ebedee;
  border: 5px solid #e74c3c;
  color: white;
  flex: 1;
  margin: 10px;
  padding: 20px;
}

.article h3 {
  color: black;
}

.article h3:hover {
  text-decoration: underline solid #e74c3c;
}

.article p {
  color: black;
  font-family: "Sawarabi Gothic", sans-serif;
  padding-top: 10px;
}
.article p > a {
  text-decoration: none;
  color: #e74c3c;
}
.article p > a:hover {
  text-decoration: underline;
}

.article img {
  display: block;
  margin: auto 0;
  width: 100%;
}

.article ul {
  font-family: "Sawarabi Gothic", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
}

.article li {
  padding-left: 1em;
  text-indent: -0.7em;
  color: #000;
}

.article li::before {
  content: "• ";
  color: #e74c3c;
}

.form-box {
  display: block;
  margin: 0 auto;
  font-family: "Sawarabi Gothic", sans-serif;
  height: 700px;
  text-align: center;
}

.sign-header {
  font-family: "Sawarabi Gothic", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  padding: 10px 10px;
  font-size: calc(1.375rem + 1.5vw);
  margin-top: 18px;
}

form {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  background: #e74c3c;
  border-radius: 10px;
  padding: 20px 20px;
  margin-bottom: 10px;
  border: 2px solid black;
}

form input {
  margin: 10px 10px;
  background: rgb(214, 212, 212);
}

.submit-button {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: white;
  background: #000;
  outline: none;
  padding: 0px 10px;
}

.submit-button:hover {
  background: white;
  color: black;
}

.container-form-box {
  padding-bottom: 10px;
}

.form-box img {
  padding: 6px 6px;
  width: 200px;
  height: 200px;
  border-radius: 55px;
  border: 5px solid rgb(35, 37, 43);
  margin-bottom: 5px;
  transition: all 150ms ease-in-out;
}
.form-box img:hover {
  border: 5px solid #e74c3c;
  transform: scale(1.1);
}

.form-box p {
  font-family: "Sawarabi Gothic", sans-serif;
  font-size: 18px;
  margin-top: 6px;
}

.error-header {
  font-family: "Sawarabi Gothic", sans-serif;
  font-size: 65px;
  text-align: center;
  margin-top: 70px;
  font-weight: 800;
}
.error-sub-header {
  font-family: "Sawarabi Gothic", sans-serif;
  font-size: 35px;
  text-align: center;
  margin-top: 25px 20px;
  font-weight: 600;
  color: #2c2b2b;
}
.error-sub-header a {
  color: #e74c3c;
  text-decoration: none;
}
.error-sub-header a:hover {
  text-decoration: underline;
}
.error-message {
  text-align: center;
  color: black;
  font-weight: 500;
  font-family: "Sawarabi Gothic", sans-serif;
  font-size: 18px;
}

.error-box {
  display: block;
  width: 900px;
  height: 500px;
  margin: 0 auto;
}
.error-box img {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.error-box p {
  font-size: 40px;
  text-align: center;
}

.grid-bottom {
  display: grid;
  margin: 10px 0;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.grid-bottom img {
  width: 100%;
  border: 2px solid rgb(35, 37, 43);
  border-radius: 10px;
  transition: all 150ms ease-in-out;
  padding: 5px 5px;
  margin: 5px 5px;
}

.grid-bottom img:hover {
  border: 4px solid rgb(35, 37, 43);
  transform: scale(0.9);
}
